section h1{
  padding-bottom: 20px;
}

#guidance p{
  padding:12px;
  border: 1px solid #ccc;
  -moz-box-shadow:0 1px 3px #CCCCCC;
  font-size:1.5em;
  text-align:center;
}

#kata{
  padding-left: 20px;
  padding-bottom: 20px;
}

#login, #signup{
  width: 335px;
  display: block;
  margin: 2em auto;
}

.photo{
  padding: 50px;
  float: left;
}

#user-info{
  overflow: hidden;
}

#user-info p{
  padding: 5px 0 20px;
}

#error_explanation h2{
  font-size: 1.2em;
}

nav #sidebar{
  float: left;
  margin-right: 10px;
  width: 180px;
}

#sidebar a{
  display: block;
  font-size: 1.2em;
  text-align: left;
  padding: 10px 20px;
  margin: 5px;
}

#sidebar a:hover, #sidebar a.selected{
  background: #ccc;
}

#bucket{
  float: left;
  border-left: 1px solid #ccc;
  padding: 0 20px;
  width: 725px;
  min-height: 350px;
}

.user{
  padding: 0.5em 0;
  border-bottom: 1px solid #DDD;
  clear: both;
  color: #000;
  cursor: pointer;
}

.user:hover{
  background-color: #EEE;
}

.user .avatar{
  float: left;
  padding: 5px;
  margin-right: 10px;
}

.user .name{
  font-size: 1.25em;
  padding-top: 5px;
}

.user .skills{
  margin-top: 0.5em;
  color: #555;
}

nav.pagination{
  padding-top: 10px;
  text-align: center;
}
