.signup-button{
  -moz-border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background: -moz-linear-gradient(center top , #50B7D1, #286DA3) repeat scroll 0 0 transparent;
  border: 1px solid #51A0B3;
  color: #FFFFFF;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 50px;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
  float: right;
  position: relative;
  right: 30px;
  top: -287px;  
}

.signup-button:hover{
  background: -moz-linear-gradient(-90deg, #66C7E5, #328FC9) repeat scroll 0 0 transparent;
}

/* ========== Topic Tags =========== */
.topic-tag {
  background-color: #E0EAF1;
  border-bottom: 1px solid #3E6D8E;
  border-right: 1px solid #7F9FB6;
  color: #3E6D8E;
  font-size: 90%;
  line-height: 2.4;
  margin: 2px 5px 2px 0;
  padding: 3px 4px;
  text-decoration: none;
  white-space: nowrap;
}

/* ========== Form ============ */
.form h2{
  -moz-border-radius: 3px 3px 0 0;
  background: -moz-linear-gradient(center top , #829AA8, #405A6A) repeat scroll 0 0 transparent;
  border-color: #677C89 #677C89 #6B808D;
  border-style: solid;
  border-width: 1px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 8px 18px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.698);
}

.form .form-body {
  -moz-border-radius: 0 0 3px 3px;
  background-color: #E9F1F4;
  border-color: #E9F1F4 #D8DEE2 #D8DEE2;
  border-style: solid;
  border-width: 1px 1px 2px;
  overflow: hidden;
  padding: 2em;
}

.form form label, .form form .label, label.standard {
  color: #2F424E;
  cursor: text;
  display: inline-block;
  font-size: 1.1em;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.1);
}

.form form input[type="text"], .form form input[type="password"], .form form textarea {
  font-size: 1.3em;
  border: 1px solid #D8DEE2;
  margin: 0.2em 0 1em;
  padding: 5px;
}

.form form input[type="submit"] {
  -moz-border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background: -moz-linear-gradient(-90deg, #FFFFFF, #E1E1E1) repeat scroll 0 0 transparent;
  border-color: -moz-use-text-color -moz-use-text-color #EBEBEB;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: helvetica,arial,freesans,clean,sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 34px;
  margin-left: 1px;
  overflow: visible;
  padding: 0 13px;
  position: relative;
  text-shadow: 1px 1px 0 #FFFFFF;
  top: 1px;
  white-space: nowrap;
}

.form form input[type="submit"]:hover {
  background: -moz-linear-gradient(-90deg, #0CA6DD, #0770A0) repeat scroll 0 0 transparent;
  border-bottom-color: #0770A0;
  color: #FFFFFF;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
