%h1 Example Katas
%ul#kata.list
  %li
    %a{:href => "http://sites.google.com/site/tddproblems/all-problems-1"} TDD Problems
  %li
    %a{:href => "http://www.rubyquiz.com/"} Ruby Quiz
  %li
    %a{:href => "http://codekata.pragprog.com/"} CodeKata
  %li
    %a{:href => "http://www.katacasts.com/"} KataCasts
  %li
    %a{:href => "http://codingdojo.org/cgi-bin/wiki.pl?KataCatalogue"} Kata Catalogue
  %li
    %a{:href => "http://codingkata.org/katas/"} Coding Kata
  %li
    %a{:href => "http://projecteuler.net/"} Project Euler
  %li
    %a{:href => "http://ruby-challenge.rubylearning.org/"} Ruby Programming Challenge for Newbies
  %li
    %a{:href => "http://www.spoj.pl/problems/classical/"} Sphere Online Judge Challenges
  %li
    %a{:href => "http://www.topcoder.com/"} Top Coder

%p These are just example katas, so you could define some of your own exercises or problems to work with your partner.
