- title 'My Schedules'

= content_for :header_bottom do
  = javascript_include_tag 'sidebar_menu'
  :javascript
    $(function(){
      
      // Toggle description
      $('.header').click(function(e){
        $(e.target).siblings('.description').slideToggle();
      }); 

      // Collapse all descriptions
      $('.pair .description').each(function(){
        $(this).slideToggle();
      }); 
      
      SidebarMenu.register('sidebar');
    });

