%header
  %a{:href => "/"} 
    %img{:src => "/images/logo.gif"}

  %secsion#account-bar
    %a{:href => "#"} Log me in
    |
    %a{:href => "#"} Sign up

  %nav#top-nav
    %ul
      %li
        %a{:href => "#"} People
      %li
        %a{:href => "#"} Archieves
      %li.last
        %a{:href => "#"} Exercises
