%header

  %a{:href => "/"} 
    %img{:src => "/images/logo.gif"}
  
  = render "layouts/account_bar"

  %nav#top-nav
    %ul
      %li
        %a{:href => "#"} People
      %li
        %a{:href => "#"} Archieves
      %li.last
        %a{:href => example_katas_path} Example Katas
